<div class="container">

    <div class="d-flex align-items-center my-4 stadistic stadistic--modified stadistic--grey">
        <div class="col">
            <h4 class="text-end text-info stadistic--title">Ex치menes realizados</h4>
        </div>

        <div class="col">
            <p class="text-white stadistic__title">Este mes: </p>
            <p class="text-info stadistic__number">{{totalCompletedexamsCurrentMonth}}</p>
        </div>

        <div class="col">
            <p class="text-white stadistic__title">El mes pasado: </p>
            <p class="text-info stadistic__number">{{totalCompletedexamsPreviousMonth}}</p>
        </div>
    </div>

</div>


<section class="container d-flex">
    <div class="dashboard-group d-flex">
        <div>
            <div class="stadistic stadistic--pink p-4 m-4">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="stadistic__title">Pacientes registrados</h4>    
                    <img src="/img/user_icon.svg" width="10%">
                </div>
                <p class="stadistic__number">{{totalPatients}}</p>
            </div>

            <div class="stadistic stadistic--yellow p-4 m-4">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="stadistic__title">Ex치menes cancelados en el presente mes</h4>    
                    <img src="/img/cancel.svg" width="10%">
                </div>
                <p class="stadistic__number">{{examenesCanceladosActualMes}}</p>
            </div>
        </div>

        <div class="stadistic stadistic--blue p-4 m-4">
            <h4 class="stadistic__title">Ordenes pendientes</h4>
            <p class="stadistic__number">{{totalPendingOrders}}</p>
        </div>
    </div>

    <div class="dashboard-group d-flex">
        <div>
            <div class="stadistic stadistic--orange p-4 m-4">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="stadistic__title">Total de ex치menes cancelados</h4>    
                    <img src="/img/cancel.svg" width="10%">
                </div>
                <p class="stadistic__number">{{examenesCanceladosTotal}}</p>
            </div>

            <div class="stadistic stadistic--green p-4 m-4">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="stadistic__title">Ex치menes realizados en el presente mes</h4>    
                    <img src="/img/doneExams_icon.svg" width="30%">
                </div>
                <p class="stadistic__number">{{totalCompletedexamsCurrentMonth}}</p>
            </div>
        </div>

        <div class="stadistic stadistic--pink p-4 m-4">
            <h4 class="stadistic__title">Ordenes emitidas en el presente mes</h4>
            <p class="stadistic__number">{{totalOrders}}</p>
            <img src="/img/doneExams_icon.svg" width="30%">
        </div>
    </div>
</section>