<section class="container">
    <h2 class="text-center">Exámenes Cancelados</h2>

    <p>Este mes han sido cancelados {{examenesCanceladosActualMes}} exámenes</p>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Número de documento</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Razón</th>
            </tr>
        </thead>
        <tbody>
            {{#each canceledOrders}}
                <tr>
                    <td>{{name}} {{lastName}} </td>
                    <td>{{identification}}</td>
                    <td>{{date_of_exam}}</td>
                    <td>{{hour_of_exam}}</td>
                    <td>{{whyCancel}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</section>