<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Módulo toma de examen</h3>
        </div>

        <div class="card-body">

            <div class="text-center">
                <h2>Secretaría de salud</h2>
                <h4>Departamento del Huila</h4>
                <p class="mb-0">Nit. 900434629-1</p>
                <p class="mb-0">Calle 9 N° 15- 25</p>
                <p >Tel. 8715907- 3118848270</p>
            </div>

            <div>
                <p class="m-0"><span style="font-weight: bold;"> Paciente: </span> {{exam.name}} {{exam.lastName}}.</p>
                <p class="m-0"><span style="font-weight: bold;"> Documento: </span> {{exam.identification}}.</p>
                <p class="m-0"><span style="font-weight: bold;"> Fecha programada: </span> {{exam.date_of_exam}}.</p>
                <p><span style="font-weight: bold;"> Hora programada: </span> {{exam.hour_of_exam}}.</p>
            </div>  

            <div>
                <p class="mb-0" style="font-weight: bold;">Dictamen previo: </p>
                <p>{{exam.Dx}}</p>
            </div>

            <div class="row text-center">

                <div class="form-group d-flex flex-column col">
                    <label for="result" class="mb-0">Resultado: </label>
                    <p>{{exam.Result}} pg/ml</p>
                </div>

                <div class="form-group d-flex flex-column col">
                    <label for="result" class="mb-0">Nivel: </label>
                    <p>{{exam.nivel}}</p>
                </div>
            </div>

                <div class="form-group d-flex flex-column text-center">
                    <label for="description" class="mb-0">Observaciones </label>
                    <p>{{exam.description}}</p>
                </div>

                <div class="form-group">
                    <a href="/exams-done">
                        <button class="btn btn-primary btn-block" type="submit">
                            Volver
                        </button>
                    </a>
                </div>
        </div>
    </div>
</div>